<div class="side_bar">
  <div class="hello_message">
    <div class="hello_top">
      <% if Time.new.hour > 5 && Time.new.hour < 12 %>
        おはよう
      <% elsif Time.new.hour >= 12 && Time.new.hour < 19 %>
        こんにちは
      <% else %>
        こんばんは
      <% end %>
    </div>
    <div class="hello_name">
    <%= current_user.nickname %>さん
    </div>
  </div>
  <div class="month_day">
    今日は<%= Time.new.month %>月<%= Time.new.day %>日<%= weekday %>曜日です
  </div>
</div>