<div class="side_bar">
  <div class="hello_message">
    <div class="hello_top">
    おはよう・こんにちは・こんばんは
    <div class="hello_name">〇〇さん</div>
    </div>
  </div>
  <div class="month_day">
    今日は〇〇月〇〇日〇〇曜日です
  </div>
</div>