<div class="top_bar">
  <div class="title">
  wordbook
  </div>
  <div class="log_inout">
    <div class="log_in">
    log in
    </div>
    <div class="log_out">
    log out
    </div>
  </div>
</div>