<div class="wrap">
  <div class="top">
    <%= render "top_bar"%>
  </div>
  <div class="mains">
    <div class="side">
      <%= render "side_bar"%>
    </div>
    <div class="main">
      <div class="word_index">
      単語閲覧・登録
      <%= link_to "単語閲覧・登録", new_user_session_path, class: "log_in_text" %>
      </div>
      <div class="word_test">
      単語１０問テスト
      </div>
      <div class="user_scores">
      個人スコア
      </div>
    </div>
  </div>
</div>